# Dependencies

In [1]:
#imports
import pandas as pd
from pprint import pprint

#import keys
from config import eod_key
from config import coin_key

# .CSV Import

In [2]:
tether_df = pd.read_csv('../Resources/coin_Tether.csv')
monero_df = pd.read_csv('../Resources/coin_Monero.csv')

# Transformation Tether

In [3]:
clean_tether = tether_df.drop(['Name','SNo', 'Volume'], axis = 1)
clean_tether.head()

,Symbol,Date,High,Low,Open,Close,Marketcap
0,USDT,2015-02-26 23:59:59,1.212320,1.194710,1.210420,1.205740,303364.1840
1,USDT,2015-03-02 23:59:59,0.607890,0.568314,0.571249,0.606502,152595.9032
2,USDT,2015-03-03 23:59:59,0.606229,0.604416,0.605129,0.606229,152527.2164
3,USDT,2015-03-06 23:59:59,1.000000,1.000000,1.000000,1.000000,251600.0000
4,USDT,2015-03-07 23:59:59,1.000000,1.000000,1.000000,1.000000,251600.0000

In [4]:
cut_dates = clean_tether['Date'].str.split(" ", n = 1, expand = True)[0]
clean_tether['Date'] = cut_dates
clean_tether.head()

  Symbol        Date      High       Low      Open     Close    Marketcap
0   USDT  2015-02-26  1.212320  1.194710  1.210420  1.205740  303364.1840
1   USDT  2015-03-02  0.607890  0.568314  0.571249  0.606502  152595.9032
2   USDT  2015-03-03  0.606229  0.604416  0.605129  0.606229  152527.2164
3   USDT  2015-03-06  1.000000  1.000000  1.000000  1.000000  251600.0000
4   USDT  2015-03-07  1.000000  1.000000  1.000000  1.000000  251600.0000

In [5]:
cut_yr = clean_tether['Date'].str.split("-", expand = True)
clean_tether['Year'] = cut_yr[0].astype(int)
clean_tether['Bin'] = cut_yr[0] + cut_yr[1]
clean_tether.head()

,Symbol,Date,High,Low,Open,Close,Marketcap,Year,Bin
0,USDT,2015-02-26,1.212320,1.194710,1.210420,1.205740,303364.1840,2015,201502
1,USDT,2015-03-02,0.607890,0.568314,0.571249,0.606502,152595.9032,2015,201503
2,USDT,2015-03-03,0.606229,0.604416,0.605129,0.606229,152527.2164,2015,201503
3,USDT,2015-03-06,1.000000,1.000000,1.000000,1.000000,251600.0000,2015,201503
4,USDT,2015-03-07,1.000000,1.000000,1.000000,1.000000,251600.0000,2015,201503

In [6]:
correct_tether = clean_tether.loc[(clean_tether['Year'] >= 2018) &
                                  (clean_tether['Year'] <= 2021)]
correct_tether.head()

,Symbol,Date,High,Low,Open,Close,Marketcap,Year,Bin
1035,USDT,2018-01-01,1.01536,1.001530,1.01255,1.007280,1.378050e+09,2018,201801
1036,USDT,2018-01-02,1.00988,0.993250,1.00574,1.004900,1.374793e+09,2018,201801
1037,USDT,2018-01-03,1.02328,1.002640,1.00660,1.013440,1.386477e+09,2018,201801
1038,USDT,2018-01-04,1.01618,0.993822,1.01320,1.002530,1.471804e+09,2018,201801
1039,USDT,2018-01-05,1.00501,0.985915,1.00175,0.998634,1.466084e+09,2018,201801

In [7]:
correct_tether = correct_tether.drop('Year', axis = 1)
correct_tether.head()

,Symbol,Date,High,Low,Open,Close,Marketcap,Bin
1035,USDT,2018-01-01,1.01536,1.001530,1.01255,1.007280,1.378050e+09,201801
1036,USDT,2018-01-02,1.00988,0.993250,1.00574,1.004900,1.374793e+09,201801
1037,USDT,2018-01-03,1.02328,1.002640,1.00660,1.013440,1.386477e+09,201801
1038,USDT,2018-01-04,1.01618,0.993822,1.01320,1.002530,1.471804e+09,201801
1039,USDT,2018-01-05,1.00501,0.985915,1.00175,0.998634,1.466084e+09,201801

In [8]:
#calculating the groups
max_tether = correct_tether.groupby('Bin').max()['High']
max_cap_tether = correct_tether.groupby('Bin').max()['Marketcap']
min_tether = correct_tether.groupby('Bin').min()['Low']
avg_open_tether = correct_tether.groupby('Bin').mean()['Open']
avg_close_tether = correct_tether.groupby('Bin').mean()['Close']

In [9]:
skele = correct_tether.groupby('Bin').count()
skele['Symbol'] = 'USDT'
skele['High'] = max_tether
skele['Low'] = min_tether
skele['Open'] = avg_open_tether
skele['Close'] = avg_close_tether
skele['Marketcap'] = max_cap_tether
finish_df = skele
finish_df.head()

       Symbol  Date     High       Low      Open     Close     Marketcap
Bin
201801   USDT    31  1.06989  0.971403  1.005724  1.004171  2.267427e+09
201802   USDT    28  1.04818  0.925144  1.000654  1.001760  2.259067e+09
201803   USDT    31  1.02412  0.979633  0.999439  1.000421  2.307954e+09
201804   USDT    30  1.02059  0.980778  0.999433  0.998980  2.427172e+09
201805   USDT    31  1.01934  0.982905  1.000574  1.000358  2.517220e+09

In [10]:
finish_df.drop('Date', axis=1, inplace=True)

In [11]:
#dropping to 2021-05 to match datasets
finish_df = finish_df.head(-2)

In [12]:
finish_df.reset_index(inplace=True)
finish_df['Name'] = 'Tether'
finish_df.rename(columns = {'Bin': 'Date'})

In [13]:
finish_df.to_csv('Output/cleaned_tether.csv', index=False)

# Cleaning Monero

In [14]:
clean_monero = monero_df.drop(['Adj Close'], axis = 1)
clean_monero.head()

         Date        Open        High         Low       Close       Volume
0  2018-01-01  349.549011  363.787994  336.977997  358.989990  110244000.0
1  2018-01-02  359.059998  387.790009  359.059998  383.416992  224768992.0
2  2018-01-03  382.743988  418.257996  378.856995  412.062988  180190000.0
3  2018-01-04  414.410004  419.717987  383.540009  403.048004  166108000.0
4  2018-01-05  402.384003  407.035004  373.891998  384.936005  182618000.0

In [15]:
cut_up = clean_monero['Date'].str.split("-", expand = True)
clean_monero['Year'] = cut_up[0].astype(int)
clean_monero['Bin'] = cut_up[0] + cut_up[1]
clean_tether.head()

,Symbol,Date,High,Low,Open,Close,Marketcap,Year,Bin
0,USDT,2015-02-26,1.212320,1.194710,1.210420,1.205740,303364.1840,2015,201502
1,USDT,2015-03-02,0.607890,0.568314,0.571249,0.606502,152595.9032,2015,201503
2,USDT,2015-03-03,0.606229,0.604416,0.605129,0.606229,152527.2164,2015,201503
3,USDT,2015-03-06,1.000000,1.000000,1.000000,1.000000,251600.0000,2015,201503
4,USDT,2015-03-07,1.000000,1.000000,1.000000,1.000000,251600.0000,2015,201503

In [16]:
correct_monero = clean_monero.loc[(clean_monero['Year'] >= 2018) &
                                  (clean_monero['Year'] <= 2021)]
correct_monero = correct_monero.drop('Year', axis = 1)                                  
correct_monero.head()

,Date,Open,High,Low,Close,Volume,Bin
0,2018-01-01,349.549011,363.787994,336.977997,358.989990,110244000.0,201801
1,2018-01-02,359.059998,387.790009,359.059998,383.416992,224768992.0,201801
2,2018-01-03,382.743988,418.257996,378.856995,412.062988,180190000.0,201801
3,2018-01-04,414.410004,419.717987,383.540009,403.048004,166108000.0,201801
4,2018-01-05,402.384003,407.035004,373.891998,384.936005,182618000.0,201801

In [17]:
correct_monero['Date'] = pd.to_datetime(correct_monero['Date'], format='%Y-%M-%d')
correct_monero.head()

,Date,Open,High,Low,Close,Volume,Bin
0,2018-01-01 00:01:00,349.549011,363.787994,336.977997,358.989990,110244000.0,201801
1,2018-01-02 00:01:00,359.059998,387.790009,359.059998,383.416992,224768992.0,201801
2,2018-01-03 00:01:00,382.743988,418.257996,378.856995,412.062988,180190000.0,201801
3,2018-01-04 00:01:00,414.410004,419.717987,383.540009,403.048004,166108000.0,201801
4,2018-01-05 00:01:00,402.384003,407.035004,373.891998,384.936005,182618000.0,201801

In [18]:
mean = correct_monero.groupby('Bin').mean()
max = correct_monero.groupby('Bin').max()
min = correct_monero.groupby('Bin').min()
open_monero = mean['Open']
close_monero = mean['Close']
max_monero = max['High']
min_monero = max['Low']
vol_cap_monero = max['Volume']

In [19]:
skele = correct_monero.groupby('Bin').count()
skele['Symbol'] = 'XMR'
skele['High'] = max_monero
skele['Low'] = min_monero
skele['Open'] = open_monero
skele['Close'] = close_monero
skele['Marketcap'] = vol_cap_monero * max_monero    
skele.head()

,Date,Open,High,Low,Close,Volume,Symbol,Marketcap
Bin,,,,,,,,
201801,31,364.678064,495.835999,453.390991,361.742096,31,XMR,2.590436e+11
201802,28,266.015287,339.687012,303.789001,266.732357,28,XMR,5.760752e+10
201803,31,252.444452,379.679993,355.992004,249.192807,31,XMR,7.442563e+10
201804,30,212.378533,298.075989,280.243011,214.714400,30,XMR,5.372790e+10
201805,31,203.259098,257.618988,242.953995,200.461386,31,XMR,2.966792e+10

In [20]:
skele.drop(['Volume'], axis = 1, inplace=True)
skele.drop(['Date'], axis = 1, inplace=True)

In [21]:
skele = skele[['Symbol', 'Open', 'Close', 'High', 'Low', 'Marketcap']]
finished_df = skele.reset_index()
finished_df['Name'] = 'Monero'
finished_df.rename(columns = {'Bin': 'Date'})

,Date,Symbol,Open,Close,High,Low,Marketcap,Name
0,201801,XMR,364.678064,361.742096,495.835999,453.390991,2.590436e+11,Monero
1,201802,XMR,266.015287,266.732357,339.687012,303.789001,5.760752e+10,Monero
2,201803,XMR,252.444452,249.192807,379.679993,355.992004,7.442563e+10,Monero
3,201804,XMR,212.378533,214.714400,298.075989,280.243011,5.372790e+10,Monero
4,201805,XMR,203.259098,200.461386,257.618988,242.953995,2.966792e+10,Monero
5,201806,XMR,137.095767,136.254467,176.110001,163.059998,8.503366e+09,Monero
6,201807,XMR,133.957611,133.720708,149.360992,138.546997,8.191748e+09,Monero
7,201808,XMR,101.250116,101.012329,130.501007,121.084999,7.486125e+09,Monero
8,201809,XMR,115.934100,115.993033,140.098999,134.858994,7.688325e+09,Monero
9,201810,XMR,107.921936,107.551613,119.820999,113.620003,1.972781e+10,Monero
10,201811,XMR,88.095516,86.494258,113.652000,110.464996,3.820685e+09,Monero
11,201812,XMR,48.754950,48.374176,61.810249,58.319405,1.343743e+09,Monero
12,201901,XMR,47.112227,47.023661,55.261497,52.602432,2.786232e+09,Monero
13,201902,XMR,47.855881,48.055975,56.827454,51.923462,4.245885e+09,Monero
14,201903,XMR,52.270790,52.464982,56.737675,53.724270,1.144262e+10,Monero
15,201904,XMR,66.215637,66.422006,72.507454,68.822037,1.563697e+10,Monero
16,201905,XMR,79.381641,80.396545,98.859055,95.658775,4.149492e+10,Monero
17,201906,XMR,96.306318,96.101434,120.073807,113.839684,3.458288e+10,Monero
18,201907,XMR,86.734007,86.513001,107.318138,100.808769,2.047038e+10,Monero
19,201908,XMR,84.304407,83.865782,97.605103,91.557968,1.171347e+10,Monero
20,201909,XMR,71.307224,70.949117,82.010445,76.794266,1.180443e+10,Monero
21,201910,XMR,56.146715,56.235549,64.403503,59.167957,1.503464e+10,Monero
22,201911,XMR,59.258645,59.119682,66.276024,64.358902,1.943813e+10,Monero
23,201912,XMR,50.158436,49.823590,55.615612,53.786373,9.157241e+09,Monero
24,202001,XMR,60.794766,61.692103,75.985237,69.544380,1.264437e+10,Monero
25,202002,XMR,80.806125,80.618123,96.777382,91.138084,1.824017e+10,Monero
26,202003,XMR,49.671692,49.081508,70.088570,67.844360,1.397153e+10,Monero
27,202004,XMR,56.258635,56.783050,68.365967,62.084862,1.083096e+10,Monero
28,202005,XMR,63.435403,63.515194,68.575317,65.935806,9.511063e+09,Monero
29,202006,XMR,65.808393,65.748090,70.055283,67.673035,7.726782e+09,Monero
30,202007,XMR,69.624630,70.318236,84.581604,80.485283,1.130349e+10,Monero
31,202008,XMR,91.708455,91.997820,105.522514,93.334763,2.287641e+10,Monero
32,202009,XMR,89.264300,89.672875,108.155556,95.376259,3.132090e+12,Monero
33,202010,XMR,119.506671,119.938114,138.796875,131.244461,1.984711e+11,Monero
34,202011,XMR,120.563561,120.634526,142.082077,127.530952,2.404856e+11,Monero
35,202012,XMR,147.089736,147.953472,170.609299,159.237656,2.818320e+11,Monero
36,202101,XMR,147.015765,146.161411,189.278656,160.973740,5.150869e+11,Monero
37,202102,XMR,199.885416,202.750017,288.237244,254.196793,7.226587e+11,Monero
38,202103,XMR,224.359906,225.280340,262.696259,240.986359,2.260632e+11,Monero
39,202104,XMR,326.690802,332.432445,439.622253,403.345947,7.920635e+11,Monero
40,202105,XMR,349.759293,345.081810,517.620239,451.694855,9.232536e+11,Monero
41,202106,XMR,251.246308,248.884967,315.664215,286.448242,1.275171e+11,Monero
42,202107,XMR,210.377992,210.920675,249.065231,234.513718,7.155780e+10,Monero
43,202108,XMR,272.330534,273.730546,339.544800,303.291534,1.121824e+11,Monero
44,202109,XMR,262.455020,261.199494,321.720123,301.331970,1.514619e+11,Monero
45,202110,XMR,268.804617,269.521396,296.737213,283.949951,1.038841e+11,Monero
46,202111,XMR,254.688090,253.089044,293.957184,269.232086,1.059293e+11,Monero
47,202112,XMR,212.453346,208.834956,244.128159,227.444046,7.043613e+10,Monero

In [22]:
#dropping to 2021-05 to match other datasets
finished_df = finished_df.head(-7)
finished_df

,Bin,Symbol,Open,Close,High,Low,Marketcap,Name
0,201801,XMR,364.678064,361.742096,495.835999,453.390991,2.590436e+11,Monero
1,201802,XMR,266.015287,266.732357,339.687012,303.789001,5.760752e+10,Monero
2,201803,XMR,252.444452,249.192807,379.679993,355.992004,7.442563e+10,Monero
3,201804,XMR,212.378533,214.714400,298.075989,280.243011,5.372790e+10,Monero
4,201805,XMR,203.259098,200.461386,257.618988,242.953995,2.966792e+10,Monero
5,201806,XMR,137.095767,136.254467,176.110001,163.059998,8.503366e+09,Monero
6,201807,XMR,133.957611,133.720708,149.360992,138.546997,8.191748e+09,Monero
7,201808,XMR,101.250116,101.012329,130.501007,121.084999,7.486125e+09,Monero
8,201809,XMR,115.934100,115.993033,140.098999,134.858994,7.688325e+09,Monero
9,201810,XMR,107.921936,107.551613,119.820999,113.620003,1.972781e+10,Monero
10,201811,XMR,88.095516,86.494258,113.652000,110.464996,3.820685e+09,Monero
11,201812,XMR,48.754950,48.374176,61.810249,58.319405,1.343743e+09,Monero
12,201901,XMR,47.112227,47.023661,55.261497,52.602432,2.786232e+09,Monero
13,201902,XMR,47.855881,48.055975,56.827454,51.923462,4.245885e+09,Monero
14,201903,XMR,52.270790,52.464982,56.737675,53.724270,1.144262e+10,Monero
15,201904,XMR,66.215637,66.422006,72.507454,68.822037,1.563697e+10,Monero
16,201905,XMR,79.381641,80.396545,98.859055,95.658775,4.149492e+10,Monero
17,201906,XMR,96.306318,96.101434,120.073807,113.839684,3.458288e+10,Monero
18,201907,XMR,86.734007,86.513001,107.318138,100.808769,2.047038e+10,Monero
19,201908,XMR,84.304407,83.865782,97.605103,91.557968,1.171347e+10,Monero
20,201909,XMR,71.307224,70.949117,82.010445,76.794266,1.180443e+10,Monero
21,201910,XMR,56.146715,56.235549,64.403503,59.167957,1.503464e+10,Monero
22,201911,XMR,59.258645,59.119682,66.276024,64.358902,1.943813e+10,Monero
23,201912,XMR,50.158436,49.823590,55.615612,53.786373,9.157241e+09,Monero
24,202001,XMR,60.794766,61.692103,75.985237,69.544380,1.264437e+10,Monero
25,202002,XMR,80.806125,80.618123,96.777382,91.138084,1.824017e+10,Monero
26,202003,XMR,49.671692,49.081508,70.088570,67.844360,1.397153e+10,Monero
27,202004,XMR,56.258635,56.783050,68.365967,62.084862,1.083096e+10,Monero
28,202005,XMR,63.435403,63.515194,68.575317,65.935806,9.511063e+09,Monero
29,202006,XMR,65.808393,65.748090,70.055283,67.673035,7.726782e+09,Monero
30,202007,XMR,69.624630,70.318236,84.581604,80.485283,1.130349e+10,Monero
31,202008,XMR,91.708455,91.997820,105.522514,93.334763,2.287641e+10,Monero
32,202009,XMR,89.264300,89.672875,108.155556,95.376259,3.132090e+12,Monero
33,202010,XMR,119.506671,119.938114,138.796875,131.244461,1.984711e+11,Monero
34,202011,XMR,120.563561,120.634526,142.082077,127.530952,2.404856e+11,Monero
35,202012,XMR,147.089736,147.953472,170.609299,159.237656,2.818320e+11,Monero
36,202101,XMR,147.015765,146.161411,189.278656,160.973740,5.150869e+11,Monero
37,202102,XMR,199.885416,202.750017,288.237244,254.196793,7.226587e+11,Monero
38,202103,XMR,224.359906,225.280340,262.696259,240.986359,2.260632e+11,Monero
39,202104,XMR,326.690802,332.432445,439.622253,403.345947,7.920635e+11,Monero
40,202105,XMR,349.759293,345.081810,517.620239,451.694855,9.232536e+11,Monero

In [23]:
finished_df.to_csv('Output/cleaned_monero.csv', index=False)