Importing Dependencies

In [33]:
import pandas as pd
import matplotlib as plt
import json
import datetime as dt
import requests
import numpy as np

In [34]:
import os

#os.getcwd()

Importing CSV + Creating Variable Filepath

In [35]:
#creating a variable from csv file path
eth_df = pd.read_csv('../../Resources/ETH-USD.csv')

#checking dataframe
eth_df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2018-01-01,755.757019,782.530029,742.004028,772.640991,772.640991,2.595760e+09
1,2018-01-02,772.346008,914.830017,772.346008,884.443970,884.443970,5.783350e+09
2,2018-01-03,886.000000,974.471008,868.450989,962.719971,962.719971,5.093160e+09
3,2018-01-04,961.713013,1045.079956,946.085999,980.921997,980.921997,6.502860e+09
4,2018-01-05,975.750000,1075.390015,956.325012,997.719971,997.719971,6.683150e+09

Data Cleaning

In [36]:
#checking data types 
eth_df.dtypes

print(type(eth_df['Date'][0]))

<class 'str'>

In [37]:
eth_df['Date']= pd.to_datetime(eth_df['Date'])

#return datetime.date objects without timezone info
eth_df['Date'] = eth_df['Date'].dt.date

eth_df['Date'] = pd.to_datetime(eth_df['Date'])
type(eth_df['Date'][0])

pandas._libs.tslibs.timestamps.Timestamp

In [38]:
#set the index to the Date
eth_df.set_index('Date', inplace = True)

In [39]:
eth_df.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2018-01-01,755.757019,782.530029,742.004028,772.640991,772.640991,2.595760e+09
2018-01-02,772.346008,914.830017,772.346008,884.443970,884.443970,5.783350e+09
2018-01-03,886.000000,974.471008,868.450989,962.719971,962.719971,5.093160e+09
2018-01-04,961.713013,1045.079956,946.085999,980.921997,980.921997,6.502860e+09
2018-01-05,975.750000,1075.390015,956.325012,997.719971,997.719971,6.683150e+09

In [40]:
# #filtering for the years 2018 - 2021
eth_year_df =eth_df.loc[(eth_df.index.year >= 2018) & (eth_df.index.year <= 2021)]

eth_year_df.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2018-01-01,755.757019,782.530029,742.004028,772.640991,772.640991,2.595760e+09
2018-01-02,772.346008,914.830017,772.346008,884.443970,884.443970,5.783350e+09
2018-01-03,886.000000,974.471008,868.450989,962.719971,962.719971,5.093160e+09
2018-01-04,961.713013,1045.079956,946.085999,980.921997,980.921997,6.502860e+09
2018-01-05,975.750000,1075.390015,956.325012,997.719971,997.719971,6.683150e+09

In [41]:
group_eth_df = eth_year_df.groupby([eth_year_df.index.year, eth_year_df.index.month])

group_eth_df.count()

           Open  High  Low  Close  Adj Close  Volume
Date Date
2018 1       31    31   31     31         31      31
     2       28    28   28     28         28      28
     3       31    31   31     31         31      31
     4       30    30   30     30         30      30
     5       31    31   31     31         31      31
     6       30    30   30     30         30      30
     7       31    31   31     31         31      31
     8       31    31   31     31         31      31
     9       30    30   30     30         30      30
     10      31    31   31     31         31      31
     11      30    30   30     30         30      30
     12      31    31   31     31         31      31
2019 1       31    31   31     31         31      31
     2       28    28   28     28         28      28
     3       31    31   31     31         31      31
     4       30    30   30     30         30      30
     5       31    31   31     31         31      31
     6       30    30   30     30         30      30
     7       31    31   31     31         31      31
     8       31    31   31     31         31      31
     9       30    30   30     30         30      30
     10      31    31   31     31         31      31
     11      30    30   30     30         30      30
     12      31    31   31     31         31      31
2020 1       31    31   31     31         31      31
     2       29    29   29     29         29      29
     3       31    31   31     31         31      31
     4       29    29   29     29         29      29
     5       31    31   31     31         31      31
     6       30    30   30     30         30      30
     7       31    31   31     31         31      31
     8       31    31   31     31         31      31
     9       30    30   30     30         30      30
     10      28    28   28     28         28      28
     11      30    30   30     30         30      30
     12      31    31   31     31         31      31
2021 1       31    31   31     31         31      31
     2       28    28   28     28         28      28
     3       31    31   31     31         31      31
     4       30    30   30     30         30      30
     5       31    31   31     31         31      31
     6       30    30   30     30         30      30
     7       31    31   31     31         31      31
     8       31    31   31     31         31      31
     9       30    30   30     30         30      30
     10      31    31   31     31         31      31
     11      30    30   30     30         30      30
     12      11    11   11     11         11      11

In [42]:
# #preparing to convert str to int

# eth_df['Date'] = eth_df['Date'].str.replace(r'-', '').astype(int)
# print(eth_df['Date'])

In [43]:
clean_eth = []

In [44]:
clean_eth.append(round(group_eth_df['High'].max(),3))
clean_eth.append(round(group_eth_df['Low'].min(),3))
clean_eth.append(round(group_eth_df['Open'].mean(),3))
clean_eth.append(round(group_eth_df['Close'].mean(),3))
clean_eth.append(round(group_eth_df['High'].max() * group_eth_df['Volume'].max(), 3))

In [45]:
#Turn it into a Dataframe

clean_eth = pd.DataFrame(clean_eth)
clean_eth = clean_eth.transpose()

In [46]:
#Naming the newly created columns
clean_eth.rename(columns={'Unnamed 0': 'Marketcap'}, inplace = True)

In [47]:
clean_eth.index = clean_eth.index.map('{0[0]}0{0[1]}'.format)
clean_eth.index = clean_eth.index.astype(int)

In [48]:
clean_eth['Symbol'] = 'ETH'
clean_eth['Name'] = 'Ethereum'
clean_eth.reset_index(inplace = True)
clean_eth.rename(columns={'index': 'Date'}, inplace = True)

clean_eth.to_csv('cleaned_eth.csv')